@media screen and (max-width : 850px) {
    @media screen and (max-width : 720px){
        html{font-size: 2.2222vw;}
    }
    /* 폰트 공통 */
    :is(h2 , h3 , h4) + p{color: rgba(255, 255, 255, 0.5);}
    p span{display: block;}
    h2 + p{font-size: 2.000rem; line-height: 2.375rem;}
    h3 + p{font-size: 1.875rem; line-height: 2.250rem; margin: 2.500rem 3.125rem 4.688rem;}
    h4 + p{font-size: 1.750rem; line-height: 2.063rem;}
    /* 타이틀 크기 */
    h3{font-size: 2.375rem; font-weight: 700;}
    h4{font-size: 2.250rem; font-weight: 700; margin-bottom: 1.875rem;}

    /* 컨텐츠 링크 공통 */
    /* section a{font-weight: 700; color: white; line-height: 5.625rem; text-align: center; background: linear-gradient(180deg, rgba(231,30,134,1) 0%, rgba(138,44,135,1) 100%); border-radius: 100rem;} */

    /* 켄턴츠 사이 간격 */
    .contentArea section{margin-bottom: 20.000rem;}



    /* 해더 */
    header{position: fixed; left: 0; top: 0; width: 100%; padding: 1.906rem 0; z-index: 1000; transition: 0.5s background-color;}
    header div{display: flex; justify-content: space-between; align-items: center;}
    header div h1{width: 17.313rem;}
    header div h1 a{display: block;}
    header div h1 a img{width: 100%;}
    header div button{width: 2.625rem;}
    header div button span{display: block; height: 0.250rem; background-color: white; transition: 0.5s transform;}
    header div button span:not(:last-child){margin-bottom: 0.750rem;}
    header div nav{position: fixed; left: 0; right: 0; top: 6.250rem; bottom: 0; display: none; justify-content: center; align-items: center; background-color: black; }
    header div nav ul{text-align: center; width: 100%; height: 100%; padding: 6.25vh 0; box-sizing: border-box; overflow: auto;}
    header div nav ul li:not(:last-child){margin-bottom: 6.25vh;}
    header div nav ul li a{font-family: "termina",sans-serif; font-size: 2.500rem; text-transform: uppercase;}
    header div nav ul li a.icon-link::after{width: 2.000rem; height: 2.000rem; margin-left: 1.250rem;}

    header.active{background-color: black;}

    header div button.active span:nth-child(1){transform: translateY(0.500rem) rotate(45deg);}
    header div button.active span:nth-child(2){transform: translateY(-0.500rem) rotate(-45deg);}

    /* 푸터 */
    footer{line-height: 7.500rem; background-color: black; text-align: center;}
    footer p{font-size: 1.625rem; font-weight: 700; color: rgba(255, 255, 255, 0.2);}



    /* 최상단 */
    .contentArea{padding: 20.625rem 0 0; position: relative; overflow: hidden; }
    .contentArea .topArea{position: relative; z-index: 101; margin-bottom: 16.875rem;}
    .contentArea .topArea h2{font-size: 3.500rem; font-weight: 700; line-height: 1.2354; max-width: 66.250rem; margin: 0 auto 2.188rem;}
    .contentArea .topArea h2 span{display: block; font-size: 2.875rem;}
    .contentArea .topArea p{margin-bottom: 11.250rem;}
    .contentArea .topArea small{display: block; font-size: 1.750rem; color: rgba(255, 255, 255, 0.5); margin-bottom: 2.813rem;}
    .contentArea .topArea a{width: 21.875rem; font-size: 2.000rem; font-weight: 700; color: white; line-height: 5.625rem; text-align: center; background: linear-gradient(180deg, rgba(231,30,134,1) 0%, rgba(138,44,135,1) 100%); border-radius: 100rem;}

    /* 첫번째 SVG */
    #mask1{width: 38.750rem; position: absolute; left: -23.750rem; top: 36.875rem; z-index: 100;}
    .mask1{fill:#fff;}
    [class*='mask1-stroke']{stroke:#E72285;stroke-width:100;stroke-miterlimit:10; animation-duration: 0.5s; animation-fill-mode: forwards;}
    .mask1-stroke1{animation-name: mask1-stroke1; stroke-dasharray:332; stroke-dashoffset:332; animation-delay: 0s;}
    .mask1-stroke2{animation-name: mask1-stroke2; stroke-dasharray:458; stroke-dashoffset:458; animation-delay: 0.3s;}
    .mask1-stroke3{animation-name: mask1-stroke3; stroke-dasharray:503; stroke-dashoffset:503; animation-delay: 0.6s;}
    @keyframes mask1-stroke1 {
        0%{stroke-dashoffset:332;}
        100%{stroke-dashoffset:0;}
    }
    @keyframes mask1-stroke2 {
        0%{stroke-dashoffset:458;}
        100%{stroke-dashoffset:0;}
    }
    @keyframes mask1-stroke3 {
        0%{stroke-dashoffset:503;}
        100%{stroke-dashoffset:0;}
    }

    /* 두번째 SVG */
    #mask2{width: 34.813rem; position: absolute; right: -17.438rem; top: 8.625rem;}
    .mask2{fill:#fff;}
    [class*='mask2-stroke']{stroke:#892C87;stroke-width:100;stroke-miterlimit:10; animation-duration: 0.5s; animation-fill-mode: forwards;}
    .mask2-stroke1{animation-name: mask2-stroke1; stroke-dasharray:547; stroke-dashoffset:547; animation-delay: 0.6s;}
    .mask2-stroke2{animation-name: mask2-stroke2; stroke-dasharray:469; stroke-dashoffset:469; animation-delay: 0.9s;}
    .mask2-stroke3{animation-name: mask2-stroke3; stroke-dasharray:356; stroke-dashoffset:356; animation-delay: 1.2s;}
    @keyframes mask2-stroke1 {
        0%{stroke-dashoffset:547;}
        100%{stroke-dashoffset:0;}
    }
    @keyframes mask2-stroke2 {
        0%{stroke-dashoffset:469;}
        100%{stroke-dashoffset:0;}
    }
    @keyframes mask2-stroke3 {
        0%{stroke-dashoffset:356;}
        100%{stroke-dashoffset:0;}
    }

    /* 게임 라인 업 */
    .lineArea{ margin: 0 auto; overflow: hidden;}
    .lineArea > div{position: relative; overflow: hidden;}
    .lineArea > div .lineUpSlider{width: 53.47%; margin-left: 3.125rem; overflow: visible;}
    .lineArea > div .lineUpSlider .swiper-slide{border-radius: 1.875rem; line-height: 0; overflow: hidden;}
    .lineArea > div .lineUpSlider .swiper-slide:not(.swiper-slide-active , .swiper-slide-next){opacity: 0.5; transition: opacity 0.5s;}
    .lineArea > div .lineUpSlider .swiper-slide img{width: 100%; position: relative; z-index: 1; transition: 0.5s opacity; }
    .lineArea > div .lineUpSlider .swiper-slide div{position: absolute; left: 0; top: 0; width: 100%; height: 100%;
        /* 실제 비디오가 들어오면 삭제 */
        background-color: black; line-height: 1; display: flex; justify-content: center; align-items: center;
    }
    .lineArea > div .lineUpSlider .swiper-slide div video{width: 100%; height: 100%;}
    .lineArea > div .lineUpSlider .swiper-slide-active:not(.commingSoon):hover img{opacity: 0; /* pointer-events: none; */}
    /* .lineArea > div .lineUpSlider .swiper-slide-active:not(.commingSoon).active img{opacity: 0;} */

    /* Grem & BATTLE */
    .gemArea{position: relative;}
    .gemArea > *{position: relative; z-index: 1;}
    .gemArea div span{display: block; height: 0.001px; overflow: hidden; text-indent: -9999px; padding-bottom: 36.9696%; background: url('../images/battle-Mimg.png') no-repeat center / cover; }
    .gemArea::after{content: ''; position: absolute; left: 0; top: -11.250rem; width: 100%; height: 57.188rem;  background: url('../images/gem-Mbackground.png') no-repeat center / cover; z-index: 0;}


    /* NFT */
    .NFTArea div{background: url('../images/NFT-MBG.png') no-repeat center / cover; padding: 2.500rem 2.188rem 5.625rem; border-radius: 2.063rem; box-sizing: border-box; margin-bottom: 5.000rem;}
    .NFTArea div ul{display: flex; flex-wrap: wrap; justify-content: center; gap: 0.625rem; margin-bottom: 5.000rem;}
    .NFTArea div ul li{width: calc((100% - 1.250rem) / 3);}
    .NFTArea div ul li img{width: 100%;}
    .NFTArea div p span:last-child{margin-top: 2.188rem;}
    .NFTArea > a{width: 18.750rem; font-size: 1.750rem; font-weight: 700; color: rgba(0,0,0,0.5); line-height: 5.625rem; text-align: center;  background: #ccc; border-radius: 100rem; pointer-events: none;}
    .NFTArea > a span{display: none;}
    .NFTArea > a::before{text-indent: 0;}
    .NFTArea > a::before{content: attr(data-before);}
    .NFTArea > a::after{background-image: url('../images/icon-link-disable.png');}
    .NFTArea > a[data-minting]{color: white; background: linear-gradient(180deg, rgba(231,30,134,1) 0%, rgba(138,44,135,1) 100%); pointer-events: all;}
    .NFTArea > a[data-minting]::before{content: attr(data-minting); }
    .NFTArea > a[data-minting]::after{background-image: url('../images/icon-link.png');}
    .NFTArea > a[data-minting].active{text-indent: 0;}
    .NFTArea > a[data-minting].active span{display: inline-block;}
    .NFTArea > a[data-minting].active::before{display: none;}
    .NFTArea > a::after{width: 1.500rem; height: 1.500rem; margin-left: 0.625rem;}
    .NFTArea > a:not(:last-of-type){margin-right: 0.875rem;}


    /* 로드맵 */
    .roadArea{position: relative;}
    .roadArea::after{content: ''; position: absolute; left: 0; top: -6.250rem; width: 100%; height: 124.563rem; background: url('../images/road-Mbackground.png') no-repeat center / cover;}
    .roadArea > *{position: relative; z-index: 1;}
    .roadArea h3{margin-bottom: 6.250rem;}
    .roadArea ol{position: relative; text-align: left;}
    .roadArea ol > li{position: relative;}
    .roadArea ol > li input{display: none;}
    .roadArea ol > li:not(:last-child){margin-bottom: 7.500rem;}
    .roadArea ol > li > label{width: 90.3225%; display: flex; align-items: center; font-size: 2.250rem; font-weight: 700; color: white; line-height: 8.438rem; margin-bottom: 3.125rem;}
    .roadArea ol > li > label::before{content: ''; width: 3.750rem; height: 3.500rem; background-image: url('../images/icon-chk.png'); background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 2.250rem;}
    /* .roadArea ol > li > input:checked + label::before{background-image: url('../images/icon-chked.png');} */
    .roadArea ol > li > label{clip-path: polygon(92.85% 0%, 100% 50%, 92.85% 100%, 0% 100%, 6.6% 50%, 0% 0%); padding-left: 5.000rem; box-sizing: border-box;}
    .roadArea ol > li::after{content: ''; position: absolute; right: 0; top: 0; width: 13.225%; height: 8.438rem; clip-path: polygon(52.43% 0%, 100% 50%, 52.43% 100%, 0% 100%, 47.56% 50%, 0% 0%);}
    .roadArea ol > li:nth-child(1):after{background-color: #e71e9e;}
    .roadArea ol > li:nth-child(2):after{background-color: #e71ecd;}
    .roadArea ol > li:nth-child(3):after{background-color: #e71ecd;}
    .roadArea ol > li:nth-child(1) > label{background-color: #e71e86;}
    .roadArea ol > li:nth-child(2) > label{background-color: #e71e9e;}
    .roadArea ol > li:nth-child(3) > label{background-color: #e71ecd;}
    .roadArea ol > li ul li{padding-left: 1.250rem;}
    .roadArea ol > li ul li:not(:last-child){margin-bottom: 2.500rem;}
    .roadArea ol > li ul li label{display: block; align-items: flex-start; font-size: 2.000rem; font-weight: 700; line-height: 2.500rem; color: rgba(255, 255, 255, 0.7); padding-left: 4.063rem; background-image: url('../images/icon-chk2.png'); background-repeat: no-repeat; background-position: left top; background-size: 2.500rem; }
    /* .roadArea ol > li ul li input:checked + label{background-image: url('../images/icon-chked2.png');} */
 
    /* FAQ */
    .FAQArea{position: relative; z-index: 1;}
    .FAQArea::after{content: ''; position: absolute; right: 0; bottom: -48.438rem; width: 100%; height: 53.938rem; background: url('../images/FAQ-MBG.png') no-repeat right bottom / 33.500rem;}
    .FAQArea h3{margin-bottom: 4.063rem;}
    .FAQArea ul{text-align: left; position: relative; z-index: 1;}
    .FAQArea ul li{background-color: #3f0576; border: 0.063rem solid #55009c; padding: 0 2.813rem; border-radius: 1.563rem;}
    .FAQArea ul li:not(:last-child){margin-bottom: 2.188rem;}
    .FAQArea ul li button{width: 100%; height: 13.438rem; display: flex; justify-content: space-between; align-items: center; padding-left: 4.063rem; text-align: left; font-size: 2.250rem; line-height: 2.625rem; background: url('../images/icon-Q.png') no-repeat left center / 2.313rem;}
    .FAQArea ul li button::after{content: ''; min-width: 1.750rem; height: 1.125rem; background: url('../images/icon-down.png') no-repeat center / cover; transform: rotate(180deg);}
    .FAQArea ul li button.active::after{transform: rotate(0deg);}
    .FAQArea ul li div{display: none; padding: 2.500rem 0 2.188rem; position: relative; }
    .FAQArea ul li div::before{content: ''; position: absolute; right: 0; top: 0; width: calc(100% - 3.750rem); height: 0.063rem; background-color: rgba(255, 255, 255, 0.15);}
    .FAQArea ul li div p{font-size: 2.000rem; line-height: 2.375rem; color: rgba(255, 255, 255, 0.7); padding-left: 4.063rem; background: url('../images/icon-A.png') no-repeat left top / 2.188rem;}

    /* 팝업 */
    .popupArea{position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: none; justify-content: center; align-items: center; background-color: rgba(0,0,0,0.5); z-index: 1000;}
    .popupArea > div{width: calc(100% - 3.125rem); max-width: 52.500rem; height: 69.44vh; display: flex; flex-direction: column; position: relative;}
    .popupArea > div strong{font-size: 1.500rem; line-height: 1.625rem; font-weight: 700; min-height: 6.563rem; background: url('../images/popup-titleBG.png') no-repeat right center / cover; display: flex; justify-content: center; align-items: center; padding: 0 11.250rem 0 1.875rem; border-radius: 1.875rem 1.875rem 0 0;}
    .popupArea > div > div{ padding: 1.875rem; max-height: calc(100% - 6.563rem);  background-color: white; border-radius: 0 0 1.875rem 1.875rem; box-sizing: border-box;}
    .popupArea > div > div div{font-size: 0.938rem; font-weight: 400; height: 100%; color: #333333;  overflow: auto;}
    .popupArea > div > div div::-webkit-scrollbar{width: 0.313rem; }
    .popupArea > div > div div::-webkit-scrollbar-thumb{background-color: #cccccc; border-radius: 6.250rem;}
    .popupArea > div button{position: absolute; left: 50%; bottom: -5.000rem; transform: translateX(-50%); width: 3.125rem; height: 3.125rem; background: url('../images/popup-close.png') no-repeat center / cover; text-indent: -9999px;}

    /* 쿠키 */
    .cookieArea{text-align: left; background-color: rgba(138, 44, 135, 0.8); padding: 3.750rem 0;}
    .cookieArea > div p{font-size: 1.750rem; line-height: 2.125rem; margin-bottom: 3.750rem;}
    .cookieArea > div p span mark{font-weight: 700; color: #e71e86; text-decoration: underline;}
    .cookieArea > div div{display: flex;}
    .cookieArea > div div button{width: 14.375rem; font-size: 1.875rem; line-height: 5.313rem; text-align: center; border-radius: 100rem;}
    .cookieArea > div div button:nth-of-type(1){border: 0.063rem solid white; }
    .cookieArea > div div button:nth-of-type(2){background-color: #e71e86;}
    .cookieArea > div div button:not(:last-of-type){margin-right: 1.563rem;} 
}